html, body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: #555;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    font-family: europa, Helvetica, Verdana, Candara, sans-serif;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.clear-fix {
    clear: both;
}

.center {
    text-align: center;
}

.masonry-container {
    width: 80vw;
    position: relative;
    margin: 50px auto 0;
}

.panel {
    position: relative;
    display: inline-block;
    width: calc((80vw - 60px)/3);
    height: calc((80vw - 60px)/3);
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
}

.panel:hover {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.55);
    transition: all 0.2s ease-out;
}

.panel:nth-child(11n+1) {
    margin-left: 0;
}

.panel:nth-child(11n+4) {
    margin-left: 0;
    width: calc(((80vw - 20px)/3)*2);
    height: calc((80vw - 60px)/3);
}

.panel:nth-child(11n+6) {
    margin-left: 0;
    float: left;
    width: calc((80vw - 60px)/3);
    height: calc(((80vw - 20px)/3)*2 - 8px);
}

.panel:nth-child(11n+6) > .panel-wrapper > .panel-img {
    transform: translateX(-25%);
}

.panel:nth-child(11n+7) {
    margin-left: 27px;
    width: calc(((80vw - 20px)/3)*2);
}

.panel:nth-child(11n+8) {
    margin-left: 27px;
}

.panel:nth-child(11n+9) {
    float: none;
}

.panel:nth-child(11n+10) {
    margin-left: 0;
    width: calc((80vw - 30px)/2);
}

.panel:nth-child(11n+11) {
    width: calc((80vw - 30px)/2);
}


.panel-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.panel-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.panel-overlay:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.panel-text {
    position: absolute;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    left: 25px;
    bottom: 0;
    z-index: 10;
}

.panel-title {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0;
    color: #fff;
}

.panel-tags {
    padding-top: 2px;
}

.tag-icon-img {
    display: inline-block;
    width: 10px;
    height: auto;
    transform: translateY(2px);
}

.tags-list {
    font-size: 0.55em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
}

.panel-gradient {
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    opacity: 0.65;
    z-index: 5;
}

.panel-vingette {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.5;
}

.panel-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    min-width: 100%;
    height: 100%;
}

/**
navbar css
 */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}

/**
footer css
 */

.wrapper {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-body {
    flex-grow: 1;
}
.page-footer {
    padding: 15px;
    background-color: #333;
    color: #FFF;
    text-align: center;
}

/**
 * main css
 */
main h1{
    text-align: center;
}

.login-form {
    max-width: 800px;
    margin: auto;
}

input[type=text], input[type=password],input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.is-invalid {
	border: 1px solid #F00 !important;
}

.invalid-feedback{
	color: #F00;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 20px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.alert{
    padding: 15px;
    width: fit-content;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 1s;
}
.fade{
    opacity: 0;
}

.alert a{
    float: right;
    font-weight: 700;
    color: #FFF;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
    position: relative;
    top: -2px;
    right: -21px;
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding-right: 35px;
}

/** camera page styling */
.camera_container{
    margin: auto;
    text-align: center;
}
.camera_container .camera {
    margin:auto;
    border: 3px solid deeppink;
    border-radius: 4px;
    width: 640px;
    height: 480px;
}
.camera_container .capture {
    padding: 5px;
    background: #4CAF50;
    width: 632px;
    margin: 1px auto;
    color: white;
    border-radius: 2px;
}
.camera_container .picture {
    display: none;
}

.camera_container .picture canvas {
    margin:auto;
    border: 3px solid deeppink;
    border-radius: 4px;
    width: 640px;
    height: 480px;
}

.filters {
	-webkit-touch-callout: none;	/* iOS Safari */
    -webkit-user-select: none;		/* Safari */
    -khtml-user-select: none;		/* Konqueror HTML */
	-moz-user-select: none;			/* Old versions of Firefox */
	-ms-user-select: none;			/* Internet Explorer/Edge */
	user-select: none;				/* Non-prefixed version, currently
                                  	supported by Chrome, Edge, Opera and Firefox */
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

