@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
:root {
    --mainColor: #fe0000;
    --subColor: #565656;
}

html, body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: #555;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    font-family: 'Play', sans-serif;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.new-container {
    width: 80%;
    margin: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.clear-fix {
    clear: both;
}

.center {
    text-align: center;
}

.masonry-container {
    width: 80vw;
    position: relative;
    margin: 50px auto 0;
}

.masonry-container a{
	text-decoration: none;
	color: #FFF;
}

.panel-tags{
	font-size: 0.55em !important;
	font-weight: 400 !important;
	text-transform: uppercase !important;
	letter-spacing: 0.05em !important;
	color: #fff !important;
}

.panel {
    position: relative;
    display: inline-block;
    width: calc((80vw - 60px)/3);
    height: calc((80vw - 60px)/3);
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
}

.panel:hover {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.55);
    transition: all 0.2s ease-out;
}

.panel:nth-child(11n+1) {
    margin-left: 0;
}

.panel:nth-child(11n+4) {
    margin-left: 0;
    width: calc(((80vw - 20px)/3)*2);
    height: calc((80vw - 60px)/3);
}

.panel:nth-child(11n+6) {
    margin-left: 0;
    float: left;
    width: calc((80vw - 60px)/3);
    height: calc(((80vw - 20px)/3)*2 - 8px);
}

.panel:nth-child(11n+6) > .panel-wrapper > .panel-img {
    transform: translateX(-25%);
}

.panel:nth-child(11n+7) {
    margin-left: 27px;
    width: calc(((80vw - 20px)/3)*2);
}

.panel:nth-child(11n+8) {
    margin-left: 27px;
}

.panel:nth-child(11n+9) {
    float: none;
}

.panel:nth-child(11n+10) {
    margin-left: 0;
    width: calc((80vw - 30px)/2);
}

.panel:nth-child(11n+11) {
    width: calc((80vw - 30px)/2);
}


.panel-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.panel-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.panel-overlay:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.panel-text {
    position: absolute;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    left: 25px;
    bottom: 0;
    z-index: 10;
}

.panel-title {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0;
    color: #fff;
}

.panel-tags {
    padding-top: 2px;
}

.tag-icon-img {
    display: inline-block;
    width: 10px;
    height: auto;
    transform: translateY(2px);
}

.tags-list {
    font-size: 0.55em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
}

.panel-gradient {
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    opacity: 0.65;
    z-index: 5;
}

.panel-vingette {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.5;
}

.panel-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    min-width: 100%;
    height: 100%;
}

/**
 * navbar css
 */

nav .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 18px 30px rgb(0 0 0 / 8%);
}

nav .nav .hidden {
    display: none;
}

nav li {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
}

nav li a {
    display: block;
    color: var(--subColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: var(--mainColor);
    color: #FFF;
}

nav li a.co {
    color: #FFF;
}

nav .active {
    background-color: var(--mainColor);
}

.nav .menu {
    display: none;
    margin-right: 1rem;
    cursor: pointer
}

.nav .menu i {
    font-size: 1.4rem;
}

/* .nav .nav-left.show {
    clip-path: circle(1250px at 90% -30%);
} */

/**
footer css
 */

.wrapper {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-body {
    flex-grow: 1;
}
.page-footer {
    padding: 1rem 0;
    background-color: var(--subColor);
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
}

/**
 * main css
 */
main h1{
    text-align: center;
    color: var(--subColor);
    text-transform: capitalize;
    letter-spacing: 1px;
}

.login-form {
    max-width: 800px;
    margin: auto;
}

input[type=text], input[type=password],input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
}

input[type=submit] {
    width: 100px;
    background-color: var(--mainColor);
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: all .2s linear;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: #FFF;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

.is-invalid {
	border: 1px solid #F00 !important;
}

.invalid-feedback{
	color: #F00;
}

.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 20px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.alert{
    padding: 15px;
    width: fit-content;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 1s;
}
.fade{
    opacity: 0;
}

.alert a{
    float: right;
    font-weight: 700;
    color: #FFF;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
    position: relative;
    top: -2px;
    right: -21px;
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding-right: 35px;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding-right: 35px;
}

/** camera page styling */
.camera_container{
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
}
.camera_container .camera {
    margin:auto;
    border: 2px solid var(--mainColor);
    border-radius: 4px;
    width: 640px;
    max-width: 100%;
    min-height: 480px;
    /* margin-bottom: 1rem; */
}
.camera_container .capture {
    padding: .8rem 0;
    background: var(--mainColor);
    max-width: 100%;
    color: white;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.camera_container .picture {
    display: none;
    width: 640px;
    max-width: 80%;
    margin: auto;
}

.camera_container .picture .pic-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.camera_container .picture .pic-btn > div {
    width: calc(50% - .3rem);
}

.camera_container .picture .confirm,
.camera_container .picture .retake {
    margin-bottom: .5rem;
}

.camera_container .picture canvas {
    margin:auto;
    border: 2px solid var(--mainColor);
    border-radius: 4px;
    width: 640px;
    max-width: 100%;
    min-height: 480px;
}

.camera_container .btn-save {
    margin:auto;
    width: 640px;
    max-width: 80%;
    padding: 1rem 0;
    /* background-color: #CCC; */
}

.filters {
	-webkit-touch-callout: none;	/* iOS Safari */
    -webkit-user-select: none;		/* Safari */
    -khtml-user-select: none;		/* Konqueror HTML */
	-moz-user-select: none;			/* Old versions of Firefox */
	-ms-user-select: none;			/* Internet Explorer/Edge */
	user-select: none;				/* Non-prefixed version, currently
                                  	supported by Chrome, Edge, Opera and Firefox */
}

.filters .origin {
    display: block;
    background-color: var(--subColor);
    color: #FFF;
    text-transform: capitalize;
    font-weight: 600;
    padding: .5rem 0;
    margin-bottom: .5rem;
    cursor: pointer;
}

.filters .bright,
.filters .gray,
.filters .blur,
.filters .contrast,
.filters .hue,
.filters .invert {
    /* display: block; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}

.filters .bright > span,
.filters .gray > span,
.filters .blur > span,
.filters .contrast > span,
.filters .hue > span,
.filters .invert > span {
    background-color: var(--subColor);
    color: #FFF;
    text-transform: capitalize;
    font-weight: 600;
    padding: .5rem 0;
    cursor: pointer;
}

.filters .bright > span:first-of-type,
.filters .gray > span:first-of-type,
.filters .blur > span:first-of-type,
.filters .contrast > span:first-of-type,
.filters .hue > span:first-of-type,
.filters .invert > span:first-of-type {
    width: calc(50% - 10px);
}

.filters .bright > span:not(:first-of-type),
.filters .gray > span:not(:first-of-type),
.filters .blur > span:not(:first-of-type),
.filters .contrast > span:not(:first-of-type),
.filters .hue > span:not(:first-of-type),
.filters .invert > span:not(:first-of-type) {
    width: calc(25% - 10px);
}

/**
  * post css
  */

.usersLikes {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #565656;
	border: 1px solid #721c24;
	border-radius: 10px 0 10px 10px;
	color: white;
	display: none;
}
.usersLikes .content {
	position: relative;
	padding: 25px;
}

.usersLikes .content li{
	text-decoration: none;
	display: inline;
}
.usersLikes .content li img{
	height: 100px;
	border-radius: 50%;
}

.usersLikes .content .close {
	position: absolute;
	right: -6px;
	top: -9px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* RESPONISVE PART */
@media screen and (max-width: 700px) {
    .nav {
        overflow: hidden;
    }
    .nav .nav-left {
        /* display: none; */
        height: 100vh;
        width: 100%;
        background-color: var(--mainColor);
        position: fixed;
        top: 0;
        left: 0;
        padding: 40px 0;
        text-align: center;
        padding-top: 90px;
        transition: all 1s ease-in-out;
        clip-path: circle(150px at 90% -30%);
        z-index: 99;
    }

    .nav .nav-left li {
        display: block;
    }

    .nav .nav-left li a {
        display: inline-block;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    nav .nav-right {
        float: right !important;
    }

    .nav .menu {
        display: block;
        float: left !important;
        position: relative;
        z-index: 999;
    }

    .nav .nav-left.show {
        clip-path: circle(1250px at 90% -30%);
    }

}

@media screen and (max-width: 475px) {
    .camera_container .picture .pic-btn {
        display: block;
    }

    .camera_container .picture .pic-btn > div {
        width: 100%;
    }

    main h1 {
        font-size: 1.6rem;
    }
}


